body {
    background-color: #000;
    color: white;
}

canvas{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
  }

img {
    padding: 1em;
    border-radius: 10px;
    max-height: 300px;
}

.menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.dialog-title
{
    /* opacity: 0; */
}

.dialog-image
{
    /* opacity: 0; */
}

.dialog-description
{
    /* opacity: 0; */
}

.dialog-button
{
    /* opacity: 0; */
    margin-bottom: 5px;
}

.template-content
{
    margin: 2rem 1rem;
}

.btn-dialog
{
    margin-bottom: 1em;
    min-width: 100%;
}

@media screen and (min-width: 768px) {
    .btn-dialog
    {
        min-width: 45%;
    }
}

@media screen and (min-width: 960px) {
    .btn-dialog
    {
        min-width: 30%;
    }
}